body {
  background-color: #0f0f0f;
  color: white;
  font-family: Arial, sans-serif;
  text-align: center;
  padding: 40px;
}

.card {
  background: #1c1c1c;
  padding: 20px;
  margin: 20px auto;
  width: 300px;
  border-radius: 10px;
}

a {
  color: cyan;
  text-decoration: none;
}
